body {
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2020/12/25/04/51/polar-lights-5858656_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(103, 103, 103);
  background-attachment: fixed;
}

div {
  border: 5px solid rgb(181, 181, 181);
  padding: 70px;
  margin: 50px;
  background-color: rgb(255, 255, 255);
}
a {
  text-align: center;
  color: black;
  width: 30%;
  border: 2px solid rgb(181, 181, 181);
  padding: 10px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
}
.center {
  margin: 20px;
  width: 50%;
  padding: 10px;
}

.tab {
  display: inline-block;
  margin-left: 1em;
}
