body {
    background-color: rgb(103, 103, 103);
}
h1 {
    text-align: center;
    background-color: rgb(182, 182, 182);
}
h2 {
    color: black;
    text-align: center;
    background-color: rgb(116, 211, 249);
}
h3 {
    text-align: center;
    color: black;
    background-color: rgb(116, 211, 249);
}
div {
    text-align: center;
    width: 300px;
    border: 15px solid rgb(254, 185, 88);
    padding: 50px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
p {
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}
a {
    text-align: center;
    color: black;
    width: 30%;
    border: 15px solid rgb(116, 211, 249);
    padding: 5px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.p1 {
    font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}