body {
    background-color: rgb(148, 148, 148);
}
h1 {
    text-align: center;
    background-color: rgb(255, 181, 132);
}
h2 {
    color: black;
    text-align: center;
    background-color: rgb(116, 211, 249);
}
h3 {
    text-align: center;
    color: black;
    background-color: rgb(116, 211, 249);
}
div {
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}
blockquote {
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}
p {
    color: rgb(255, 255, 255);
}