body {
    background-color: rgb(148, 148, 148);
}
h1 {
    text-align: center;
    background-color: rgb(255, 181, 132);
}
h2 {
    color: black;
    text-align: center;
    background-color: rgb(116, 211, 249);
}
h3 {
    text-align: center;
    color: black;
    background-color: rgb(116, 211, 249);
}
div {
    text-align: center;
    width: 300px;
    border: 15px solid rgb(254, 185, 88);
    padding: 50px;
    margin: 20px;
}
blockquote {
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
  }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .menu {
    width: 25%;
  }
  
  .content {
    width: 75%;
  }