body {
    background-color: rgb(103, 103, 103);
}
h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    background-color: rgb(103, 103, 103);
}
h2 {
    width: 75%;
    color: black;
    text-align: center;
    background-color: rgb(116, 211, 249);
}
h3 {
    width: 75%;
    text-align: center;
    color: black;
    background-color: rgb(116, 211, 249);
}
div {
    text-align: center;
    width: 300px;
    border: 15px solid rgb(254, 185, 88);
    padding: 50px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
p {
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
}
a {
    text-align: center;
    color: black;
    font-size: 20px;
    width: 50%;
    border: 25px solid rgb(254, 185, 88);
    padding: 40px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.p1 {
    font-family: "Verdana", Verdana, Geneva, Tahoma, sans-serif;
}
.eqi-container {
    display: flex;
    justify-content: space-between;
}